<div class="container mt-2 mb-2">
  <h1 class="index-title text-center">Welcome to Hero2GO, the number 1 hero for hire service</h1>
</div>

<div class="row mx-5">
  <% @heros.each do |hero| %>
  <div class="col-lg-3 col-md-3 col-sm-6 mb-3">
    <div class="heros-card shadow bg-white text-dark h-100">
      <% if hero.user == current_user %>
        <div class="red-plain-circle"></div>
      <% else %>
        <div class="green-plain-circle"></div>
      <% end %>
      <div class="image-container">
        <% if hero.picture.key.nil? %>
          <%= image_tag "logo.jpg", class: 'card-img-top' %>
        <% else %>
          <%= image_tag rails_blob_url(hero.picture), alt: "Heros", class: 'card-img-top img-fluid rounded' %>
        <% end %>
      </div>
      <div class="card-body mt-2">
        <h5 class="card-title">Name: <%= hero.name %></h5>
        <h6 class="card-heros-cat text-muted">Guild: <%= hero.guild %></h6>
      </div>
      <div class="card-footer">
        <div class= "mb-3">
          <%= link_to "détails", hero_path(hero), class: 'btn btn-info text-white detail-button' %>
        </div>
          <p class="card-text"><strong>Price: <%= hero.price %> Zeny / day</strong></p>
        <div class="blockquote-footer">
          <p>Role: <%= hero.role %></p>
          <p>Job: <%= hero.job %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
