<div class="hero-file-container">
  <div class="element position-relative" style="top: 0px">
    <%= link_to('<i class="fa-solid fa-arrow-left back-arrow"></i>'.html_safe, "/heros".html_safe) %>
  </div>
  <div class="d-flex flex-row mx-5">
    <div class="hero-file-card">
      <div class="image-file-container">
        <% if @hero.picture.attached? %>
          <%= image_tag url_for(@hero.picture), class: 'image-file-hero' %>
        <% else %>
          <%= image_tag "logo.jpg", class: 'card-img-top' %>
        <% end %>
      </div>
    </div>
    <div class="hero-details">
      <h2> <%= @hero.name %></h2>
      <p class="guild">Guild: <%= @hero.guild %></p>
      <p class="role">Role: <%= @hero.role %></p>
      <p class="category">Job : <%= @hero.job %></p>
      <p class="description">Description : <%= @hero.description %></p>
      <p class="price"><%= number_to_currency(@hero.price, unit: "Zeny", format: "%n %u / day") %></p>
          <% if %>
            <% @hero.user == current_user %>
            <%= link_to "Mettre à jour", edit_hero_path, class: "btn btn-primary valid-button" %>
            <%= link_to "Supprimer", hero_path(@hero), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sur(e)s"} %>
          <% else %>
            <%= link_to "Réserver", new_hero_reservation_path(@hero), class: "btn btn-primary valid-button" %>
          <% end %>
    </div>
  </div>
</div>
