<h1>Reservations for <%= @hero.name %></h1>

<ul>
  <% @reservations.each do |reservation| %>
    <li><%= reservation.hero.name %> - from <%= reservation.start_date %> to <%= reservation.end_date %></li>
    <li>for a total of <%= reservation.total_pricce %></li>
    <li>validation is <%= reservation.status %></li>
    <!-- Affichez d'autres détails de réservation selon vos besoins -->
  <% end %>
</ul>

<%= link_to "Hire again", new_hero_reservation_path(@hero), class: "btn btn-primary" %>
